*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.banner{
    border: 3px inset #ffff00 ;
    margin: 10px 10px 10px 10px;
    text-align: center;
    background-color:rgb(255, 107, 181);
    width: 98%;
}
.name{
font: 60px bold;
color:white;
}
.hotline{
color:white;
background-color: yellowgreen;
border: 1px dashed black;
width: 800px; height: 50px;
text-align: center;
margin: 0px auto;
padding: 20px 10px 20px 10px;
}
.root>li{
    list-style: none;
    float: left;
    position: relative;
    display: block;
    font-weight: bold;
}
.root>li>a{
    text-decoration: none;
    color: rgb(247,241,241);
    padding: 0px 50px 0px 15px;
    line-height: 50px;
    display: block;
}
.menu_web{
    width: 98%;
    height: 50px;
    background-color: rgb(134, 6, 130) ;
    margin: 0px auto;
}
.root>li>a:hover{
    background-color: yellowgreen;
    color: orange;
    transform: ease-in 0.30s;
}
.submenu{
    width: 200px;
    background-color:rgb(134, 6, 130)  ;
    min-height: 80px;
    display: none;
    position: absolute;
}
.submenu li{
    list-style: none;
}
.submenu li a{
    text-decoration: none;
    text-transform: none;
    color: snow;
    display: block;
    border: 1px solid #ccc;
    text-indent: 10px;
    line-height: 40px;
}
.root>li:hover .submenu{
    display: block;
    background-color:rgb(134, 6, 130) ;
    color: white;
    transition: ease-in 0.30s;
}
.submenu li a:hover{
background-color: yellowgreen;
color: orange;
transition: ease-in 0.30s;
}
.tien{
    color: red;
}
.bang{
    width: 98%;
    margin: 0 auto;
    border: 2px black groove;
    
}
.bang2{
    width: 25%;
    height: 80%;
    margin: 0 auto;
    border: 1px dotted;
    background-color: white;
}
.chu{
    text-align: center;
}
.cot{
    width: 100%;
    text-align: center;
}
.th{
    color:rgb(6, 164, 204);
}

